/* Home.module.css */

.trendingCoins {
  @apply flex flex-col items-center my-8;
}

.trendingCoin {
  @apply flex flex-col items-center bg-gray-100 p-4 rounded-lg shadow-md m-4;
}

.ethereumHeader {
  font-size: 22px; 
  color: #444; /* change this to your preferred color */
  text-align: center;
}

.ethereumDetails {
  font-family: 'satoshi';
  text-align: center;
  color: yellow;  /* replace with the specific yellow color code you're using */
  font-size: 22px; /* Adjust this value as needed */
  text-align: center; /* change this to center alignment */
  width: 100%; /* take full width */
}

.data {
  font-family: 'satoshi';
  text-align: center;
  color: yellow;  /* replace with the specific yellow color code you're using */
  font-size: 22px; /* Adjust this value as needed */
  text-align: center; /* change this to center alignment */
  width: 100%; /* take full width */
}


.ethereumData {
  font-size: 22px; /* adjust as needed */
  color: #333; /* adjust as needed */
}

.title {
  font-size: 22px; /* adjust as needed */
  color: #333; /* adjust as needed */
  font-weight: bold;
}


.text {
  font-family: 'satoshi';
  color: yellow;  /* replace with the specific yellow color code you're using */
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* take full viewport height */
}

.bitcoinPrice {
  font-size: 22px; /* Adjust this value as needed */
  text-align: center; /* change this to center alignment */
  width: 100%; /* take full width */
}

.EthereumComponent {
  font-size: 22px; /* Adjust this value as needed */
  text-align: center; /* change this to center alignment */
  width: 100%; /* take full width */
}

.EthereumDetails {
  font-size: 22px; /* Adjust this value as needed */
  text-align: center; /* change this to center alignment */
  width: 100%; /* take full width */
}

.connect {
  display: flex;
  justify-content: flex-end;  /* Align the button to the right */
  padding-top: 2rem;          /* Give some space from the top */
  position: fixed;
  top: 10px;       /* Adjust as needed */
  right: 40px;     /* Adjust as needed */
}

